@model List<BaseballLeague.Models.League>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    @foreach (var league in Model)
    {
        @league.LeagueName

        //click to go to list of teams
        <div class="col-md-4 col-xs-12">
            <div class="col-xs-6">
                @using (Html.BeginForm("Index", "Team", null, FormMethod.Post))
                {
                    @Html.Hidden("leagueID", league.LeagueID)
                    <button id="details" class="btn btn-danger btn-block">Details</button>
                }
            </div>
        </div>
    }
</div>
