@model System.Collections.Generic.List<BaseballLeague.UI.Models.LeagueVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">

    @foreach (var league in Model)
    {
        
    }
</div>