@model List<BaseballLeague.Models.League>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    @foreach (var league in Model)
    {
        <div class="col-md-3">
            @using (Html.BeginForm("TeamsInSpecificLeagueResult", "Home", null, FormMethod.Post))
            {
                @Html.Hidden("leagueID", @league.LeagueID)
                <button id="details" class="btn btn-danger btn-block">@league.LeagueName</button>
            }
            
        </div>

    }
    @*
        NOT IN REQUIREMENTS
        //click to create a new League*@
    @*<div class="col-md-4 col-xs-12">
        <div class="col-xs-6">
            @using (Html.BeginForm("CreateLeagueForm", "Home", null, FormMethod.Post))
            {
                @Html.Hidden("leagueID", league.LeagueID)
                <button id="details" class="btn btn-danger btn-block">Create New League</button>
            }
        </div>
    </div>*@

</div>
